:root{
    --orange-color: #DA722C;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-blue-color: #6F7DFB;
    --light-color: #E8F7FB;
}

*,
*::after
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    max-width: 1134px;
    margin: 0 auto;
}

header{
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    height: 100vh;
    width: 100%;
}

/* navigation bar menu*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    z-index: 100;
    top:36px;

}

nav .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

/* Disign of Hero Section*/

.hero-section{
    display:flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero-section .left h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.hero-section .left p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 457px;
}

.hero-section .left{
   flex: 1;
}

.hero-section .right{
    align-items:flex-end;
}
.hero-section .right img{
    height: 490px;
    vertical-align:middle;
}

/* acheivment-cards */
.acheivment-card{
    position:absolute;
    min-width:200px;
}

.acheivment-card .content{
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px ;
    position: relative;
    z-index: 10;
}

.acheivment-card.student-enrolled{
    left:47%;
    top:270px;
}

.acheivment-card h3{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 36px;
    color:var(--dark-blue-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.acheivment-card p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-blue-color);
    margin-top: -8px;
    margin-bottom: 8px;
}

.acheivment-card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}

.acheivment-card.enrolled-rating{
    left: 45%;
    top: 470px;
    
}

.acheivment-card .content div{
    display: flex;
    align-items: center;
    gap:12px;
}

/* testimonials section */


section{
    margin-top: 100px;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    color: var(--dark-blue-color);
    }
h2.light{
    color: #fff;
}
section p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--dark-blue-color);
    margin: 12px 0;
}

.testimonials-section{
    display: flex;
    gap: 100px;
    align-items: center;
}

.testimonials-section .mobile-btn{
    display: none;
}
.testimonials-section .testimonial-card{
    width: 442px;
    background: #FFFFFF;
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-bottom: 50px;
    position: relative;
}
.testimonials-section .testimonial-card::before{
    content: "";
    width: 28px;
    position: absolute;
    height: 40px;
    top: -40px;
    left: 60px;
    background: var(--dark-blue-color);
    border-radius: 24px 24px 0 0;
}

.testimonials-section .testimonial-card:last-child::before{
    left: 40px;
    top: -50px;
    border-radius: 0 0 24px 24px;
    height: calc(100% + 90px);
    z-index: -1;
}

.testimonials-section .testimonial-card .content{
    font-family: 'Raleway',sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%; 
    color: #FFFFFF;
    border-radius: 24px;
    padding: 24px 32px;
    background: var(--light-blue-color);
}
.testimonials-section .testimonial-card:last-child .content{
    background: var(--orange-color);
}
.testimonials-section .testimonial-card .info h4{
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: var(--dark-blue-color);
    margin: 0;
    }
.testimonials-section .testimonial-card .info{
    padding: 24px 32px;
    background: #fff;
    border-radius: 24px;
}
.testimonials-section .testimonial-card .info p.company{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--dark-blue-color);
}
.testimonials-section .testimonial-card img{
    width: 120px;
    height: 120px;
    position: absolute;
    right: 32px;
    bottom: 20px;
}
.testimonials-section .testimonial-card:last-child{
    transform: translateX(20px);
}
.testimonials-section .features{
    margin-bottom: 30px;
}














/*buttons*/

.btn{
    display: inline-block;
    padding: 15px;
    border-radius: 24px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    position: relative;
}

.btn.dark{
    background: var(--dark-blue-color);
}

.btn.light{
    background: var(--orange-color);
}

.btn.enroll-icon::before{
    content: url("images/enroll-icon.svg");
    position: absolute;
    top: 50%;
    left:32px;
    transform: translateY(-50%);
    
    
}
.btn.enroll-icon{
    padding-left: 60px;
}